<div class="container fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 18rem;">
                <img src='{{cat.imageUrl}}' class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cat</h5>
                  <p class="card-text">{{cat.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Owner: {{cat.username}}</li>
                </ul>
              </div> 
        </div>
    </div>
</div>
